.card {
  background-color: var(--color-bg);
  border-radius: var(--radius-12);
  box-shadow: var(--shadow);
  border: 1px solid var(--color-border);
}

.padding-none {
  padding: 0;
}

.padding-sm {
  padding: var(--spacing-12);
}

.padding-md {
  padding: var(--spacing-16);
}

.padding-lg {
  padding: var(--spacing-24);
}
