.divider {
  border: none;
  background-color: var(--color-border);
}

.horizontal {
  width: 100%;
  height: 1px;
}

.vertical {
  width: 1px;
  height: 100%;
}

/* Spacing */
.none {
  margin: 0;
}

.small {
  margin: var(--spacing-16) 0;
}

.medium {
  margin: var(--spacing-24) 0;
}

.large {
  margin: var(--spacing-32) 0;
}

.vertical.small {
  margin: 0 var(--spacing-16);
}

.vertical.medium {
  margin: 0 var(--spacing-24);
}

.vertical.large {
  margin: 0 var(--spacing-32);
}
