.formGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

.fullWidth {
  width: 100%;
}

.label {
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--color-text);
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.required {
  color: var(--color-danger);
  font-size: var(--font-base);
}

.error {
  font-size: var(--font-sm);
  color: var(--color-danger);
  margin-top: calc(var(--spacing-6) * -1);
}
