.list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  color: var(--color-text);
}

.list:not(.nested) {
  margin-bottom: var(--spacing-16);
}

.nested {
  margin-top: var(--spacing-8);
  margin-left: var(--spacing-24);
}

.listItem {
  font-size: var(--font-sm);
  line-height: 1.6;
  margin-bottom: var(--spacing-8);
}

.listItem:last-child {
  margin-bottom: 0;
}
